header {
    padding: 10px;
}
.farbe {
    background-color: rgb(43, 92, 226); 
    color: white;
    border-radius: 10px 10px 10px 10px;
}
#grey {background-color: rgba(140, 150, 153, 0.658);}
    
td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    

}
.farben {
    background-color: rgb(22, 167, 9); 
    color: white;
    border-radius: 10px 10px 10px 10px;
}
.picture {background-color: rgb(58, 80, 134); 
    color: white;
    border-radius: 10px 10px 10px 10px;}
    
.pic2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;

